doctype html
html(lang='en')
  head
    head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title E-Surat App
    // Bootstrap core CSS
    link(href=`${pathToAssets}/vendor/bootstrap/css/bootstrap.min.css`, rel='stylesheet')
    <!-- link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet') -->
    // Custom fonts for this template
    link(rel='stylesheet', href=`${pathToAssets}/vendor/font-awesome/css/font-awesome.min.css`)
    link(rel='stylesheet', href=`${pathToAssets}/vendor/simple-line-icons/css/simple-line-icons.css`)
    link(href=`https://fonts.googleapis.com/css?family=Lato`, rel='stylesheet')
    link(href=`https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900`, rel='stylesheet')
    link(href=`https://fonts.googleapis.com/css?family=Muli`, rel='stylesheet')
    // Plugin CSS
    link(rel='stylesheet', href=`${pathToAssets}/device-mockups/device-mockups.min.css`)
    // Custom styles for this template
    link(href=`${pathToAssets}/css/new-age.min.css`, rel='stylesheet')
    // Temporary navbar container fix
    style.
      .navbar-toggler {
      z-index: 1;
      }
      @media (max-width: 576px) {
      nav > .container {
      width: 100%;
      }
      }

  body#page-top
    header.masthead
      // Navigation
      nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation', style='background: #262626')
        .container
          // Brand and toggle get grouped for better mobile display
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
              
            a.navbar-brand(href='#') E-Surat
              i.fa.fa-envelope-square.fa-fw(style='margin-left:-90px')
            a.navbar-brand(href='#', style='margin-left: 1030px') Logout
          // Collect the nav links, forms, and other content for toggling
          //
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            <li>
            <a href="#">About</a>
            </li>
            <li>
            <a href="#">Services</a>
            </li>
            <li>
            <a href="#">Contact</a>
            </li>
            </ul>
            </div>
          // /.navbar-collapse
        // /.container
      // Page Content
      .container
        .row
          .col-md-3
            p.lead(style='margin-top: 100px') E-Surat
            .list-group
              a.list-group-item(href='email.pug') Compose
              a.list-group-item(href='inbox.pug') Inbox
              a.list-group-item(href='outbox.pug') Outbox
          .col-md-9(style='margin-top: 149px')
            .thumbnail
              .caption-full(style='color: #000; margin-top: 20px; margin-left: 20px')
                h4(style='color: #C2185B') Nindy
                  a(href='outbox.pug', style='color: #C2185B')
                    i.fa.fa-arrow-circle-left.fa-fw.fa-lg(style='margin-left: 720px')
                p nindyasaridu@gmail.com
                p(style='font-size: 15px')
                  | Oqeh
              
              .panel-footer
                .input-group
                  input#btn-input.form-control.input-sm(type='text', placeholder='Replay your message here...')
                  span.input-group-btn
                    button#btn-chat.btn.btn-warning.btn-sm(style='background: #C2185B')
                      | Send
              //
                <div class="text-left" style="margin-left: 7px; margin-bottom: 10px">
                <a class="btn btn-success">Replay</a>
                </div>
    
    // jQuery
    script(src='js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='js/bootstrap.min.js')
